/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin-bottom: 50px;
}

h1, h2 {
    margin-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.logoutButton {
    cursor: pointer;
}

.card {
    margin: 20px;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.form-container {
    max-width: 500px;
    margin: 80px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container p {
    margin-top: 10px;
}

.alert {
    margin-top: 20px;
}

.user-label {
    font-size: large;
    font-weight: bolder;
    margin-right: 5px;
}

.user-input {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}


.meal-plan-item, .recipe-item {
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.title-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: auto 5px;
}

.recipe-list, .mealPlansContainer {
    justify-content: space-around;
    margin-bottom: 20px;
}

.view-all-btn {
    margin-bottom: 20px;
}

.item-body {
    margin-top: 10px;
}

@media (max-width: 576px) {
    .recipe-item, .meal-plan-item {
        width: 85%;
    }

}