<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MealMaster - Recipes</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <h1>Recipes</h1>
        <nav>
            <button id="homeButton">Home</button>
            <button id="logoutButton">Logout</button>
        </nav>
    </header>
    <main>
        <ul id="recipeList"></ul>
        <a href="createRecipe.html">Create New Recipe</a>
    </main>
    <script src="../javascript/app.js"></script>
</body>
</html>
